<%- include("partials/header.ejs") %>
<body>

  <div class="container py-5">
    <h1 class="text-center mb-4"> Quotes Found </h1>
    <div class="row g-3">
      <% for (i of quotes) { %>
        <div class="col-md-6">
          <blockquote class="blockquote card card-body quote-card">
            <p class="mb-2"><%= i.quote%></p>
            <footer class="blockquote-footer mt-1">
              <a href="#" id="<%= i.authorId %>" class="text-decoration-none">
                <%= i.firstName%> <%= i.lastName %>
              </a>
            </footer>
          </blockquote>
        </div>
      <% } %>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="authorModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Author Information</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="authorInfo"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer.ejs") %>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<script src="/js/scripts.js"></script>

</body>
</html>
